h2
{
    text-align: center;
    color:steelblue;
}

nav
{
    background-color: steelblue;  
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}

nav a
{
    color: white;
    /* font-size: large; */
    text-decoration: none;
}

nav a:hover
{
    font-weight: bold;
    /* background-color:white; */
}

#p1
{
    color:steelblue;
    text-align: center;
}

.add
{
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    text-align:justify;
    opacity: 95%;
    width: 300px;
    height:125px;
    background-color: steelblue;
    margin: auto;
}

.updateBatch
{
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    text-align:justify;
    opacity: 95%;
    width: 300px;
    height:160px;
    background-color: steelblue;
    margin: auto;
}

.updateBatch b
{
    padding-left: 15px;
    color: white;
    padding-bottom: 5px;
}

.addParticipant
{
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    text-align:justify;
    opacity: 95%;
    width: 450px;
    height: 400px;
    background-color: steelblue;
    margin: auto;
}

#updateParticipant
{
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    text-align:justify;
    opacity: 95%;
    width: 450px;
    height: 400px;
    background-color: steelblue;
    margin: auto;
}

.addParticipant label
{
    padding-left: 15px;
    color: white;
    padding-bottom: 5px;
    display: inline-block;
    width: 100px;
}

.addParticipant input
{
    height: 25px;
    width: 250px;
    font-size: large;
    color:darkcyan;
}

/* .addParticipant select
{
    height: 25px;
    width: 250px;
    font-size: large;
    color:darkcyan;
} */

.addParticipant button
{
    width: 75px;
    height: 40px;
    font-size: large;
    color:slategray;
    margin : 0 auto;
}

#buttonContainer
{
    text-align: center;
}

.add b
{
    padding-left: 15px;
    color: white;
    padding-bottom: 5px;
}

#add-submit
{
    font-size: large;
    color: black;
    padding: 5px;
    background-color: white;
    display: block;
    margin: auto;
}

#staticId
{
    size: 5;
}

#day
{
    font-size: large;
    width: 100px;
}

#time
{
    font-size: large;
    width: 100px;
}

table
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    color: darkcyan;
    text-align: center;
}

table th
{
    background-color: steelblue;
    color:white;
    border-color: steelblue;
    font-size: large;
    font-weight: bold;
}

table td
{
    font-weight: bold;
}
