h2
{
    text-align: center;
    color:steelblue;
}

nav
{
    background-color: steelblue;  
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}

nav a
{
    color: white;
    /* font-size: large; */
    text-decoration: none;
}

nav a:hover
{
    font-weight: bold;
    /* background-color:white; */
}

#p1
{
    color:steelblue;
    text-align: center;
}

.add
{
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    text-align:justify;
    opacity: 95%;
    width: 300px;
    height:125px;
    background-color: steelblue;
    margin: auto;
}

.add b
{
    padding-left: 15px;
    color: white;
    padding-bottom: 5px;
}

#add-submit
{
    font-size: large;
    color: black;
    padding: 5px;
    background-color: white;
    display: block;
    margin: auto;
}

#day
{
    font-size: large;
    width: 100px;
}

#time
{
    font-size: large;
    width: 100px;
}

