h2
{
    text-align: center;
    color:steelblue;
}

nav
{
    background-color: steelblue;  
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}

nav a
{
    color: white;
    /* font-size: large; */
    text-decoration: none;
}

nav a:hover
{
    font-weight: bold;
    /* background-color:white; */
}

#p1
{
    color:steelblue;
    text-align: center;
}

#updateParticipantDisplay
{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    background-color: steelblue;
    width: 400px;
    height: 260px;
    border-radius: 5px;
    margin:auto;
}

#buttonContainer
{
    text-align: center;
    margin: auto;
}

#buttonContainer button
{
    color:steelblue;
    font-size: large;
    width: 75px;
    height: 35px;
}

#updateParticipantDisplay label
{
    color: white;
    font-size: large;
    font-weight: bold;
}

#updateParticipantDisplay input
{
    margin-left: auto;
    width: 250px;
    color: darkcyan;
    font-size: large;
    text-align: left;
    float: right;
}

#updateParticipantDisplay select
{
    margin-left: auto;
    width: 250px;
    height: 30px;
    color: darkcyan;
    font-size: large;
    text-align: left;
    float: right;
}