<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Fitness Schedule Web App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BatchController</display-name>
    <servlet-name>BatchController</servlet-name>
    <servlet-class>com.controller.BatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchController</servlet-name>
    <url-pattern>/BatchController</url-pattern>
    <url-pattern>/addBatch</url-pattern>
    <url-pattern>/updateBatch</url-pattern>
    <url-pattern>/updateExistingBatch</url-pattern>
    <url-pattern>/deleteBatch</url-pattern>
    <url-pattern>/getBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipantController</display-name>
    <servlet-name>ParticipantController</servlet-name>
    <servlet-class>com.controller.ParticipantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantController</servlet-name>
    <url-pattern>/ParticipantController</url-pattern>
    <url-pattern>/addParticipant</url-pattern>
    <url-pattern>/updateExistingParticipant</url-pattern>
    <url-pattern>/updateParticipant</url-pattern>
    <url-pattern>/getParticipant</url-pattern>
    <url-pattern>/deleteParticipant</url-pattern>
  </servlet-mapping>
</web-app>